.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.product{
  border: solid 1px red;
  width: 400px;
  height: inherit;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: aqua;
}


.pagenumber{
  border: solid 1px gray;
  margin: 7px;
  padding: 5px 10px;
  cursor: pointer;
}
.selectedpage{
  color: darkmagenta;
  font-weight: 900;

  background-color:;
}

span{
  cursor: pointer;
}